body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.full-page {
    background-size: cover;
    height: 100vh;
    padding: 10% 0 10px;
}

.full-page .main--white,
.full-page .main {
    margin: 0 auto;
    padding: 50px 10%;
}

.full-page .main {
    color: white;
    background: #25138a;
    box-shadow: 0 0 4px #B581CF;
}

.full-page .main--white {
    color: #B581CF;
    background: white;
}

.full-page .main p {
    font-size: 1.1em;
}

.full-page .ui.form .field > label {
    color: white;
}

.ui.secondary.pointing.menu {
    background: #2185D0;
}

.ui.secondary.pointing.menu .item {
    color: white !important;
}

.cssload-spinner {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 50%;
	margin-left: -17px;
	margin-top: -17px;
}
.cssload-spinner:after, .cssload-spinner:before {
	position: absolute;
	content: "";
	border: 2px solid #B581CF;;
	width: 31px;
	height: 31px;
}
.cssload-spinner:after {
	animation: cssload-spinner1 2.88s linear infinite;
    -o-animation: cssload-spinner1 2.88s linear infinite;
    -ms-animation: cssload-spinner1 2.88s linear infinite;
    -webkit-animation: cssload-spinner1 2.88s linear infinite;
    -moz-animation: cssload-spinner1 2.88s linear infinite;
}
.cssload-spinner:before {
	width: 43px;
	height: 43px;
	margin-left: -6.5px;
	margin-top: -6.5px;
	animation: cssload-spinner2 2.88s linear infinite;
    -o-animation: cssload-spinner2 2.88s linear infinite;
    -ms-animation: cssload-spinner2 2.88s linear infinite;
    -webkit-animation: cssload-spinner2 2.88s linear infinite;
    -moz-animation: cssload-spinner2 2.88s linear infinite;
}



@keyframes cssload-spinner1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spinner1 {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spinner1 {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spinner1 {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spinner1 {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@keyframes cssload-spinner2 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@-o-keyframes cssload-spinner2 {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(-360deg);
	}
}

@-ms-keyframes cssload-spinner2 {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(-360deg);
	}
}

@-webkit-keyframes cssload-spinner2 {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
	}
}

@-moz-keyframes cssload-spinner2 {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(-360deg);
	}
}

.datastream-container {
    min-width: 620px;
    min-height: 620px;
	margin: auto;
}

.datastream-grid {
	display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    padding: 0;
    align-content: flex-start;
	justify-content: center;
}

.datastream-item-container {
	position: relative;
    width: 200px;
    height: 200px;
	border: 2px solid white;
	cursor: pointer;
}

.datastream-item {
	height: 100%;
	background-color: #B581CF;
	border: 1px solid #B581CF;
	color: white;
}

.datastream-item:hover {
	background-color: white;
	color: #B581CF;
}

.datastream-item-card {
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.datastream-item-card-body {
	text-align: center;
	font-size: 3em;
	padding: 50px 5px;
}

.datastream-item-card-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
}

.datastream-item-add .datastream-item {
	height: 100%;
	padding: 80px 0;

	font-size: 11em;
	text-align: center;


	border: 1px solid #39BA91;
	background-color: #39BA91;
	color: white;
}

.datastream-item-add .datastream-item:hover {
	background-color: white;
	color: #39BA91;
}

.datastream-epoch {
	font-family: monospace;
	color: rgba(0, 0, 0, 0.6)
}

.datastream-epoch-data {
	float: right;
	color: black;
}

.datastream-epoch-add {
	color: white;
	background-color: #39BA91;
	text-align: center;
	cursor: pointer;
	border: 1px solid #39BA91;
	margin-bottom: 1em;
}

.datastream-epoch-add:hover {
	color: #39BA91;
	background-color: white;
}
